---
import MainLayout from "./MainLayout.astro";
import { ViewTransitions } from "astro:transitions";
import { url } from "../info";
import "@fontsource/opendyslexic";

function safeJoin(...parts: string[]) {
    let result = parts.shift();
    for (const part of parts) {
        if (part.startsWith("/")) {
            result += part;
        } else {
            result += `/${part}`;
        }
    }
    return result;
}

interface Props {
    title: string;
    description: string;
    hideBackButton?: boolean;
}

const { title, description, hideBackButton } = Astro.props;
---

<MainLayout title={title} descriptionOverride={description}>
    <slot:head>
        <ViewTransitions />
    </slot:head>
    <div class="max-w-6xl mx-auto p-4">
        <header class="py-4 border-b-2 border-black dark:border-white">
            <h1 class="text-4xl font-bold">{title}</h1>
            <p class="text-lg my-4 print:mb-0">{description}</p>
            <p class="flex print:hidden flex-wrap">
                {!hideBackButton && (
                    <><a href="/blog" class="hover:underline">
                        ← Other blog posts
                    </a><span class="mx-2"> | </span></>
                )}
                <a href="/" class="hover:underline">
                    🖊 Contact Me
                </a>
                <span class="mx-2"> | </span>
                <a href={safeJoin(url.replace(/^https\:/, "feed:"), "rss.xml")} class="hover:underline">
                    📡 RSS Feed
                </a>
                <span class="mx-2"> | </span>
                <button id="dyslexia_toggle" class="hover:underline">
                    🌈 Dyslexia Friendly Font
                </button>
            </p>
        </header>
        <main class="mt-4">
            <slot />
        </main>
    </div>
</MainLayout>

<script>
    document.addEventListener("astro:page-load", () => {
        // Get the toggle button.
        const dyslexiaToggle = document.getElementById("dyslexia_toggle") as HTMLButtonElement;

        // Defines the current state.
        let dyslexiaEnabled = false;

        // Add the button click event listener.
        const defaultFontText = "🌈 Default Font";
        function buttonClick() {
            if (dyslexiaEnabled) {
                // Remove the __dyslexia__ style tag from the head and revert the state.
                document.getElementById("__dyslexia__")?.remove();
                dyslexiaToggle.textContent = "🌈 Dyslexia Friendly Font";
                dyslexiaEnabled = false;
                localStorage.removeItem("dyslexia");
                return;
            }

            // Create a style tag with the __dyslexia__ id and add it to the head.
            const style = document.createElement("style");
            style.id = "__dyslexia__";
            style.textContent = `
                * {
                    font-family: "OpenDyslexic", sans-serif !important;
                }
            `;
            document.head.appendChild(style);
            dyslexiaToggle.textContent = defaultFontText;
            dyslexiaEnabled = true;
            localStorage.setItem("dyslexia", "true");
        }
        dyslexiaToggle.addEventListener("click", buttonClick);

        if (document.getElementById("__dyslexia__")) {
            // Check if __dyslexia__ was added to the head previously. Obey it if it was.
            dyslexiaToggle.textContent = defaultFontText;
            dyslexiaEnabled = true;
        } else if (localStorage.getItem("dyslexia") === "true") {
            // If dyslexia is set to 'true' in localStorage, act like the button was clicked.
            buttonClick();
        }
    });
</script>
